*{
  font-family: 'Cinzel', serif;
  margin: 0;
  padding: 0;
  background-image: url(../imagen/pexels-martin-péchy-2078266.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.contenido{
text-align: justify;
display: flex;
 
}

.parrafo1 {
  
  display: contents;
 font-weight: bold;
 padding: 30px;
line-height: 1.5;

}


.imagen1, .imagen2 {
  border-radius: 10%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  margin: 10px;
  
  }

  .imagen1{
    float: right;
  }

  .imagen2{
    float: left;
  }

  @media (max-width: 414px) {
    .imagen1, .imagen2 {
      float: none;
      width: 200px;
      height: 200px;
      align-items: center;
    }

    .parrafo1 {
  
   
     font-weight: bold;
  font-size: 18px;
    line-height: 1.5;
    
    }
  }



