*{
  font-family: 'Cinzel', serif;
  margin: 0;
  padding: 0;
  background-image: url(../imagen/blancoynegro.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

p{
  margin: 0;
}


.contenido{
  background-color: rgb(235, 235, 197);
  display: block;
 
}

.parrafo1{
  align-items: center;
  background-color: blueviolet;
  display: flex;
  flex: 1;
 justify-content: left;
 font-weight: bold;
}

.imagen1 img{
  border-radius: 10%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  
  }

.imagen1{
  display: flex;
  align-items: center;
  right: 100px;
}  



